html, body {
    height: 100%;
}

.headerSecondLevel{
    padding-top: 1rem;
}

#carouselExampleCaptions img{
    height: 350px;
    object-fit:cover;
    width:100%;
}

.HistoryText{
    margin: 2rem 14rem;
}
.card{
    line-height: 1rem;
    background: lightskyblue;
    margin: 3rem 0;
}

img{
    width: 100px;
    height: 180px;
}